<div class="container">
  <div *ngIf="showUser">
    <h3 class="test-center margin-auto">User</h3>
    <button type="button" class="btn btn-outline-secondary" [routerLink]="['/users/add']">Add</button>
    <table class="table able-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">City</th>
          <th scope="col">Phone</th>
          <th scope="col">Website</th>
          <th scope="col">Company name</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of allUsers;">
          <th scope="row">{{user.id}}</th>
          <td>{{user.name}}</td>
          <td>{{user.email}}</td>
          <td>{{user.address.city}}</td>
          <td>{{user.phone}}</td>
          <td>{{user.website}}</td>
          <td>{{user.company.name}}</td>
          <td>
            <button type="button" class="btn btn-outline-secondary" [routerLink]="['/users',user.id]">Explore</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>